@use'variaveis.scss';

header{
    background-color:variaveis.$corPrincipal;
    width: 100%;

    .container {
        align-items: center;
        padding: 12px 65px;
        display: flex;
        justify-content: space-between;

    }

    img {
        width: 60px ;
        height: 60px ;
        border-radius: 50%;
        object-fit: cover;

        }

    .menu   {
        display: flex;
        gap: 25px;
    
    }

    li {
        list-style: none;
    }

    a{
        color: variaveis.$corTexto;       
        text-decoration: none;
        font-size: 23px;
    }
}