@use'./variaveis.scss';

section{
    h2 {
        text-align: center;
        padding: 60px;
        font-size: 34px;
    }
    .products{   
        text-align: center;
        padding: 17px;
        max-width: 1400px;
        display: grid;
        grid-template-columns: repeat(4 , 25%);
    }

    img {
        max-width: 300px;        
    }
    li{
        list-style: none;
    }
    
    h4{
        text-align: center;
        padding: 7px;
    }

    p {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 15px;
    }

    a{
        background-color:variaveis.$corPrincipal;
        padding:  9px   60px;
        color: variaveis.$corTexto;        
        text-decoration: none;
        border-radius: 7px
    }
}

